@model GigHub.ViewModels.GigViewModel
@{
    ViewBag.Title = "Home Page";
}

<h1>@Model.Heading</h1>
@using (Html.BeginForm("Search", "Gigs"))
{
    <div class="form-group">
        <div class="input-group" id="search-gigs">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", @placeholder = "Search by artist, gerne..." })
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    </div>
}
<ul class="gigs" style="margin-top: 40px">
    @foreach (var gig in Model.UpcommingGigs.OrderBy(g => g.DateTime))
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @gig.Artist.Name

                    @if (gig.IsCanceled)
                    {
                        <span class="label label-warning">Canceled</span>
                    }

                    @if (Model.ShowActions)
                    {
                        <button data-artist-id="@gig.Artist.Id" class="btn btn-link js-toggle-following">Follow</button>
                    }
                </span>
                <span class="gerne">
                    @gig.Gerne.Name
                </span>

                @if (Model.ShowActions && !gig.IsCanceled)
                {
                    <button data-gig-id="@gig.Id" class="btn btn-default btn-sm pull-right js-toggle-attendance">Going?</button>
                }
            </div>
        </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-toggle-attendance")
                .click(function (e) {
                    var button = $(e.target);
                    $.post("/api/attendances", { gigId: button.attr("data-gig-id") })
                        .done(function () {
                            button.off("click");

                            button
                                .removeClass("btn-default")
                                .addClass("btn-info")
                                .text("Going");
                        })
                        .fail(function () {
                            alert("Something failed!");
                        });
                });

            $(".js-toggle-following")
                .click(function (e) {
                    var button = $(e.target);
                    $.post("/api/following", { followeeId: button.attr("data-artist-id") })
                .done(function () {
                    button.off("click");
                    button.text("Following");
                })
                .fail(function () {
                    alert("Something failed!");
                });
                });
        });
    </script>
}